:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color-h1: #ffffff;
    --hero-color: #2F303A;
    --background-color: #F5F4FA;
    --logo-color: #000000;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --clients-color: rgb(175, 177, 184);
    --icons: rgba(255, 255, 255, 0.1);
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-color: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
    --modal-color-svg: rgba(33, 33, 33, 1);
    --modal-input-color: rgba(33, 33, 33, 0.2);
    --border-header: rgba(236, 236, 236, 1);
}


body {
    color: var(--primary-text-color);
    background-color: var(--background-color-h1);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
}

pre {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
}




 /*Header*/


.connection__link {
    color: var(--primary-text-color);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    transition: color 250ms var(--animation);
}

.contacts {
    line-height: 1.7;
    color: var(--transparent-color);
    font-style: normal;
    margin-top: 9px;
    display: inline-block;
    transition: color 250ms var(--animation);
}

 .nav__link:hover,
 .nav__link:focus,
 .contacts:hover,
 .contacts:focus,
 .connection__link:hover,
 .connection__link:focus,
 .adress:focus,
 .adress:hover {
     color: var(--accent-color);
 }

.nav__link {
    color: var(--title-text-color);
    display: block;
    padding: 32px 3px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms var(--animation);
}

.logo {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 91px;
}

.logo__accent {
    color: var(--accent-color);
}

.clients__title.visually-hidden,
.team__title.visually-hidden,
.about__title.visually-hidden,
.work__title.visually-hidden,
.section-title.visually-hidden,
.project__name.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.clients__title,
.team__title,
.about__title,
.work__title,
.about__title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}


.header {
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-header);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
}

.container--flex {
    display: flex;
   
    
}

.connection {
    display: flex;
    margin-left: auto;
}

.nav__ul {
    display: flex;
}

.nav__ul .nav__item+.nav__item {
    margin-left: 50px;
}


.connection .nav__item+.nav__item {
    margin-left: 30px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__link--choice::after {
    position: absolute;
    content: "";
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    opacity: 1;
}

.nav__link.nav__link--choice {
    color: var(--accent-color);
    position: relative;
}




 /* Hero */


 .hero__title {
    color: var(--background-color-h1);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
    max-width: 695px;
    margin-left: auto;
    margin-right: auto;
 }

 .hero {
    background-color: var(--hero-color);
    text-align: center;
    max-width: 1600px;
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(var(--gradient-color),
    var(--gradient-color)),
    url(../img/hero.jpg);
 }




 /* Modal */

 .modal__check {
    /* appearance: none;
    position: absolute; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop);
    opacity: 1;
    transition: opacity 250ms var(--animation);
 }

 .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
 }

 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
 }

 .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    background-color: var(--background-color-h1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.button-svg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: color 250ms var(--animation);
    border-color:rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-h1);
    cursor: pointer;
}

.modal__exit {
    fill: currentColor;
    width: 18px;
    height: 18px;
}

.button-svg:hover,
.button-svg:focus {
    color: var(--accent-color);
}

input:focus-within ~ .modal__name,
input:focus-within ~ .modal__phone,
input:focus-within ~ .modal__email {
    color: var(--accent-color);
}

.modal__label {
   width: 100%;
   position: relative; 
   margin-top: 10px; 
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.modal__input {
    margin-top: 4px;
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-input-color);
    border-radius: 4px;
    padding-left: 42px;
    margin-left: 0;
    margin-right: 0;
}

.modal__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid var(--modal-input-color);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 17px;
    padding: 12px 16px;
}

.modal__title { 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.modal__email,
.modal__phone,
.modal__name {
    fill: currentColor;
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 11px;
    left: 12px;
    color: var(--modal-color-svg);
    transition: fill 250ms var(--animation);
}


.modal__svg {
    display: inline-block;
    align-items:center;
    vertical-align:sub;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background-image: url(../img/check.svg);
}

.modal__check:checked + .modal__svg {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-origin: border-box;
 }

 .modal__check:focus + .modal__svg {
    border: 2.5px solid var(--accent-color);
    border-radius: 2px;
    width: 16px;
    height: 15px; 
 }

.modal__textarea:focus,
.modal__input:focus,
.modal__link:focus {
    border: 1px solid var(--accent-color);
}

.modal__link,
.modal__check,
.modal__textarea,
.modal__input {
    outline: none;
    transition: border-color 250ms var(--animation);
}

.modal__link {
    color: var(--accent-color);
    text-decoration: underline;
}






/* Tel and mail */


.connection__mail {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.connection__tel {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
}



/* Наші переваги */


.work__svg {
    fill: currentColor;
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.work__items--astronaut,
.work__items--diagram,
.work__items--antenna,
.work__items--clock {
    background-color: var(--background-color);
    width: 270px;
    height: 120px;
    border-radius: 4px;
}

.work {
    padding-top: 94px;
    padding-bottom: 0;
    height: 342px;
}

.work__items:nth-child(4n) {
    margin-right: 0;
}

.work__ul {
    display: flex;
}

.work__items {
    width: 270px;
    margin-right: 30px;
}

.work__ul {
    display: flex;
}

.work__items {
    width: 270px;
    margin-right: 30px;
}

.work__virtues {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

.work__text {
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0;
}



/* Чим займаємось */


.about__ul {
    display: flex;
    justify-content: space-between;
}

.position-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.about__text{
    position: absolute;
    color: var(--border-color); 
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    opacity: 0.8;
    background-color: #2F303A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__item {
    position: relative;
    width: 370px;
    height: 294px;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}




/* Team */


.team__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
}


.team {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.internet__link,
.internet__face,
.internet__twit,
.internet__insta {
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--clients-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms var(--animation),
    background-color 250ms var(--animation);
}

.network__insta:hover,
.network__twit:hover,
.network__face:hover,
.network__linked:hover,
.network__insta:focus,
.network__twit:focus,
.network__face:focus,
.network__linked:focus,
.internet__link:focus,
.internet__face:focus,
.internet__twit:focus,
.internet__insta:focus,
.internet__link:hover,
.internet__face:hover,
.internet__twit:hover,
.internet__insta:hover {
    color:var(--background-color-h1);
    background-color: var(--accent-color);
}


.internet__link:focus,
.internet__face:focus,
.internet__twit:focus,
.internet__insta:focus {
    outline: none;
}

.svg {
    fill: currentColor;
    width: 22px;
    height: 22px;
    /* margin-left: 11px;
    margin-top: 11px;   */
}

.internet__insta {
    margin-right: 10px;
    margin-left: 32px;
}

.team__ul {
    display: flex;
}

.team__item:nth-child(4n) {
    margin-right: 0;
}

.team__item {
    width: 270px;
    padding-bottom: 30px;
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}




/* Clients */


.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__svg {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--clients-color);
    transition: border-color 250ms var(--animation);
}

.clients__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 15px 30px; */
    color: var(--clients-color);
    transition: color 250ms var(--animation);
    outline: none;
    border-radius: 4px;
}


.clients__link:hover,
.clients__link:focus {
    border-color: var(--accent-color);
    outline: 1px solid #2196F3;
}


.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
    fill: var(--accent-color);
}



.clients__ul {
    display: flex;
    justify-content: space-between;
}




/* Button */


.button.button--primary {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}


.form-but {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    /* можно об'єднати з нижнім ботом */
}

.letter__button {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}


.button {
    color: var(--title-text-color);
    height: 38px;
    min-width: 67px;
    padding: 6px 22px;
    font-family: inherit;
    background-color: var(--background-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    transition: color 250ms var(--animation),
    background-color 250ms var(--animation),
    filter 250ms var(--animation);
}



.letter__button:hover,
.letter__button:focus,
.form-but:hover,
.form-but:focus,
.button:hover,
.button:focus {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button--active {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.flex__inp {
    margin-right: 8px;
}

.ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}



.letter__button:active,
.button:active {
    box-shadow: inset 3px 3px 3px 3px hsla(0, 0%, 0%, .3);
}




/* Portfolio */


.project__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.project__animation {
    position: relative;
    overflow: hidden;
}

.project__item:hover .project__overlay {
    opacity: 1;
    transform: translateY(0);
}

.project__about {
    display: inline-block;
    padding: 63px 24px; 
    margin: 0; 
    width: 370px;
    height: 294px;  
    font-size: 18px;
    line-height: 1.55;
    color: var(--background-color-h1);
}

.project__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms var(--animation),
    transform 250ms var(--animation);
    background-color: var(--animation-color);
}

.project__topic {
    padding: 20px 24px;
}

.project__item {
    margin-bottom: 30px;
    position: relative;
    width: 370px;
    display: flex;
    justify-content: center;
    transition: box-shadow 250ms var(--animation);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-color);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-color);
}

.project__item:hover {
    box-shadow: 1px 4px 6px rgba(181, 73, 73, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project__link:focus {
    box-shadow: 1px 4px 6px rgba(181, 73, 73, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);   
}


.project__link:focus .project__overlay {
    opacity: 1;
    transform: translateY(0);
}

.project__link {
    outline: none;
}

.project__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project__item:hover .project__overlay {
    opacity: 1;
}

.project__title,
.project__name {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
}


.project {
    padding-top: 94px;
    padding-bottom: 94px;
}

.project__paragraph {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    margin-bottom: 0;
}

.no-gap {
    display: block;
}




/* Footer */


.footerr {
    width: 1600px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-color);
}

.container--box {
    display: flex;
    align-items: baseline;
}

.letter__field {
    display: flex;
    align-items: center;
}

.network{
    display: flex;
    width: 205px;
    flex-wrap: wrap;
    margin-left: 70px;
}

.network__ul {
    display: flex;
}



.footerr .logo {
    color: var(--background-color-h1);
}

.letter__input {
    outline: none;
}

.letter__input:focus {
    border: 1px solid var(--accent-color);
    transition: border-color 250ms var(--animation);
}


.network__title {
    color: var(--background-color-h1);
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}

.adress {
    color: var(--background-color-h1);
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.network__insta,
.network__twit,
.network__face,
.network__linked {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color-h1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icons);
    transition: background-color 250ms var(--animation);
}

.internet {
    display: flex;
   
}

.network__insta,
.network__face,
.network__twit,
.internet__twit,
.internet__face{
    margin-right: 10px;
}

.internet__link {
    margin-right: 32px;
}



.letter {
    width: 570px;
    margin-top: 72px;
    margin-left: 93px;
}

.letter__input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--hero-color);
}

.letter__title {
    margin: 0px 0px 20px;  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color-h1);
}

.letter__svg {
   margin-left: 10px;
   width: 24px;
   height: 24px;
}

.network__insta,
.network__twit,
.network__face,
.network__linked {
    outline: none;
    
}

.letter__field .letter__input:focus {
    color: white;
}
